/* Page3.css */
/* Page3.css */
.Page3-container {
    background-color: #010424;
    color: #fff;
    text-align: center;
    width: 1440px;
    height: 17984px;
    padding: 40px;
  }
  
  h1 {
    font-weight: 900;
    line-height: 49px;
    font-size: 40px;
    margin-bottom: 60px;
    text-transform: uppercase;
  }
  
  .content-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-left: 120px; /* Add margin between sections */
  }
  
  .content-container.reversed {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px; 
    margin-right: 40px;
  }
  .content-container p{
    font-family: Poppins ;
    font-size: 20px;
    font-style: normal;
    line-height: 24px;
    
  }
  
  .text-content,
  .image-content {
    width: 45%; /* Adjust the width as needed */
  }
  
  .text-content {
    text-align: left;
  }
  
  h2 {
   
    color: #fff;
    font-family: Poppins ;
    font-size: 20px;
    font-style: normal;
    text-transform: uppercase;
  }
  
  img {
    width: 300px; /* Make the image fill its container */
    margin: 0px 120px 20px 0px;
  }
  
  @media (min-width: 768px) {
    .content-container,
    .content-container.reversed {
      flex-direction: row;
    }
  
    .text-content,
    .image-content {
      width: 45%;
    }
  
    img {
      width: 300px;
      margin: 0px 120px 20px 0px; /* Adjust margins for larger screens */
    }
  }